// out: list2select.css, compress: true;

.l2s-display {
	display: none !important;
}

.l2s-display-sm {
	display: none !important;
	@media screen and (min-width: 576px) {
		display: block !important;
	}
}

.l2s-display-md {
	display: none !important;
	@media screen and (min-width: 768px) {
		display: block !important;
	}
}

.l2s-display-lg {
	display: none !important;
	@media screen and (min-width: 992px) {
		display: block !important;
	}
}

.l2s-display-xl {
	display: none !important;
	@media screen and (min-width: 1200px) {
		display: block !important;
	}
}

.l2s-select {
	display: block;
}

.l2s-select-sm {
	display: block;
	@media screen and (min-width: 576px) {
		display: none;
	}
}

.l2s-select-md {
	display: block;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.l2s-select-lg {
	display: block;
	@media screen and (min-width: 992px) {
		display: none;
	}
}

.l2s-select-xl {
	display: block;
	@media screen and (min-width: 1200px) {
		display: none;
	}
}